.container{
    width: 100%;
    height: 100vh;
    border: 5px solid black;
}

.header{
    width: 1420px;
    height: 60px;
    border: 2px solid black;
    margin: 20px 10px 0px 10px ;
    padding: 3px ;

}

ul li{
    display: inline-flex;
    font-size: 30px;
    padding-right: 50px ;
}

.image{
    width: 1420px;
    height: 60px;
    border: 2px solid black;
    margin: 20px 10px 0px 10px ;
    padding: 3px ;
    background-color: lightblue;
    position: relative;
}

.profile{
    width: 1420px;
    height: 500px;
    border: 2px solid black;
    margin: 20px 10px 0px 10px ;
    padding: 3px ;
    background-color: lightgrey;
}

h1{
    text-align: center;
    color: black;
}
.footer{
    width: 1420px;
    height: 60px;
    border: 2px solid black;
    margin: 10px 10px 5px 10px ;
    padding: 3px ;
}