h1{

    text-align: center;
    color: black;
}

.container{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid black;
}

.header{
    width: 100%;
    height: 120px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid black;
    background-color: green;
}
.header1{
    width: 100%;
    height: 120px;
    margin-top: 20px ;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid black;
    background-color: yellowgreen;
}

.header2{
    width: 100%;
    height: 120px;
    margin-top: 20px ;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid black;
    background-color: grey;
}