.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    padding: 10px 20px 10px 20px;

}

.parent{
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    background-color: greenyellow;
    margin-top: 10px;
}

.child{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(17, 8, 8);
    margin: 5px 5px 5px 5px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 90px;
}


.parent1{
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    background-color: greenyellow;
    /* margin-left: 300px;
    margin-top: 100px; */
}

.parent2{
    width: 20%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    background-color: greenyellow;
    flex-direction: column;
    /* margin-bottom: 200px; */
}

.parent3{
    width: 20%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    background-color: greenyellow;
    flex-direction: column;
    /* margin-left: 1000px; */
}


