h1{
    text-align: center;
    color: black;
}

h2{
    text-align: center;
    color: black;
}

.header{
    width: 100%;    
    height: 80px;
    text-align: center;
    font-weight: bold;
    border: 0px solid black;
    background-color: rgb(3, 13, 3);
    padding: 10px;
    font-size: 30px;
}

ul li {
    width: 100px;
    text-align: center;
    list-style-type: none;
    float: left;
    overflow: hidden;
    display: flex;
    color: white;
    margin: 10px 10px 30px 20px
}

ul li:hover {
    background-color: rgb(0, 255, 34);
    cursor: pointer;
}

.slider{
    width: 100%;
    height: 300px;
    border: 3px solid black;
    margin-top: 20px;
    background-color: greenyellow;

    
}
@keyframes colorchange {
    0%{background-color: red;}
    25%{background-color: yellow;}
    50%{background-color: blue;}
    75%{background-color: green;}   
}
.slider{
    animation: colorchange 10s infinite;
}   
    
@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h2 {
    animation: slideDown 1s ease;
}

